/* .child{
    width: 10em;
    height: 10em;
    background-color: violet;
}
.parent{
    font-style: 2em;
} */
 .parent{
    font-size: 10px;
 }
 .child{
    font-size: 2em;
    width: 2em;
    height: 2em;
    background-color: yellow;
 }