body{
    background-color:bisque
}

.box{
    width: 200px;
    height: 200px;
    background: #000;
    background-color: rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5);
    background-color: #ccc;
    background-color: currentColor;
    margin:45px;
    padding:20px;
    border:20px dotted gray
}