p{
    /* letter-spacing: -4px; */
    /* word-spacing: 30px; */
    /* text-align: left; */
    /* text-align: right; */
    text-align: center;
}

.home{
    text-align: center;
    display: block;
}